body {  font-family: Georgia, "Times New Roman", Times, serif;}
.slugTable {  border-top: #666666 solid 1px }
.slugText { color: #666666;
	            font-weight: bold;
		                font-family: Arial; }
				.teaser {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 75%}
